.add__btn{
    height: 30px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: rgb(62, 168, 230);
    color:#fff;
    font-family: 'Inter Medium';
    border:none
}